<div class="row">
    <div class="col-md-10 offset-md-1 articles">
        <div class="row">
            <div class="scraper col-md-4">
                <h2 class="text-left">Scrape:</h2>
            </div>
            <div class="col-md-8">
                <a href="./dndbeyondscrape">
                    <button class="btn btn-success">D&amp;D Beyond</button>
                </a>
                <a href="./wotcscrape">
                    <button class="btn btn-warning">Wizards of the Coast</button>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="scraper col-md-4">
                <h2 class="text-left">View:</h2>
            </div>
            <div class="col-md-8">
                <a href="./dndbeyond">
                    <button class="btn btn-success">D&amp;D Beyond</button>
                </a>
                <a href="./wizards">
                    <button class="btn btn-warning">Wizards of the Coast</button>
                </a>
                <a href="/">
                    <button class="btn btn-dark">All Articles</button>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            {{#each posts}}
            <div class="col-md-4">
                <div class="card storyCard">
                    <img src="{{image}}" alt="" class="card-img-top articleImg">
                    <div class="card-body">
                        <h5 class="card-title">{{headline}}</h5>
                        <h6 class="card-title">{{byline}}</h6>
                        <p class="card-text">{{summary}}</p>
                        <a href="{{url}}" class="btn btn-primary">Read More</a>
                        <a href="/comments/{{_id}}"><button class="btn btn-secondary">Comment</button></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
